<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/flatly/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css" />
<link rel="stylesheet" href="/stylesheets/style copy.css" />

{{!--
<script src="https://code.jquery.com/jquery-3.6.0.min.js">
</script> --}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/javascripts/comboTreePlugin.js" type="text/javascript"></script>
{{#if categoryDetails}}
<div class="row ml-3 mr-3">
  <div class="col-md-4">
    <div class="card mat-clr-stat-card text-white green ">
      <div class="card-block">
        <div class="row">
          <div class="col-3 text-center bg-c-green">
            <i class="fas fa-star mat-icon f-24"></i>
          </div>
          <div class="col-9 cst-cont">
            <h5>4000+</h5>
            <p class="m-b-0">Ratings Received</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mat-clr-stat-card text-white blue">
      <div class="card-block">
        <div class="row">
          <div class="col-3 text-center bg-c-blue">
            <i class="fas fa-cube mat-icon f-24"></i>
          </div>
          <div class="col-9 cst-cont">
            <h5>179</h5>
            <p class="m-b-0">Total Products</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mat-clr-stat-card text-white red">
      <div class="card-block">
        <div class="row">
          <div class="col-3 text-center bg-c-red">
            <i class="fas fa-bank mat-icon f-24"></i>
          </div>
          <div class="col-9 cst-cont">
            <h5>₹ 17,500</h5>
            <p class="m-b-0">Income Status</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}
<div class="container-fluid bg-soft">
  <div class="row">

  </div>
  <div class="col-12">
    <div class="layout-container">
      <div class="layout-page">
        <div class="content-wrapper">

          <div class="container-xxl flex-grow-1 container-p-y">

            <div class="row mt-5">
              <div class="col-xl">
                <div class="card mb-4">
                  <div class="card-header d-flex justify-content-between align-items-center">
                    {{#if categoryDetails}}
                    <h5 class="mb-0">Category Details</h5>
                    {{else}}
                    <h5 class="mb-0">Add Category</h5>
                    {{/if}}
                    <small class="text-muted float-end"></small>
                  </div>
                  <div class="card-body">
                    <form {{!-- id="form-id" --}} enctype="multipart/form-data" method="post"
                      action="/admin/updateCategory">
                      <input type="hidden" id="categoryParentPath" name="parentPath" />
                      {{!-- <input type="number" id="parentCategory" name="parentCategory" /> --}}
                      <input type="text" hidden name="Id" value="{{categoryDetails.Id}}" />
                      <div class="row gx-5">
                        <div class="col-6 mt-4">
                          <label class="form-label" for="basic-default-fullname">Name</label>
                          <input type="select" name="name" value="{{categoryDetails.name}}" label="hello"
                            class="form-control" id="basic-default-fullname" placeholder="category name" />
                        </div>
                        {{#if categoryDetails}}
                        <div class="col-6 mt-4">
                          <label class="form-label" for="basic-default-fullname">Current Parent Category</label>
                          <input type="select" value="{{parentCategory}}" label="hello" class="form-control"
                            id="basic-default-fullname" readonly />
                        </div>
                        {{/if}}
                        <div class="col-6 mt-4">
                          {{#if categoryDetails}}
                          <label class="form-label" for="basic-default-fullname">Update Parent Category</label>
                          {{else}}
                          <label class="form-label" for="basic-default-fullname">Parent Category</label>
                          {{/if}}
                          <input type="text" name="parent" value="{{categoryDetails.parent}}" id="justAnotherInputBox"
                            placeholder="Type to filter" autocomplete="on" onchange="getPath()" />
                        </div>

                        {{!-- <div class="col-6 mt-4">

                        </div> --}}
                        {{!-- <div class="col-6 mt-4">
                          <label class="form-label" for="basic-default-fullname">Description</label>
                          <input type="text" name="description" value="{{categoryDetails.name}}" class="form-control"
                            id="basic-default-fullname" placeholder="category name" />
                        </div> --}}

                        <div class="col-6 mt-4">
                          <label for="formFile" class="form-label">Image</label>
                          <input class="form-control" name="image" type="file" id="formFile" />
                        </div>
                        <div class="col-6 mt-4">
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">Description</label>
                            <textarea class="form-control" name="description" placeholder="Description box"
                              id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                          <input type="hidden" id="descriptionValue" value="{{categoryDetails.description}}" />
                        </div>
                        <div class="col-5 mt-5 ml-3">
                          {{!-- {{#if categoryDetails}} --}}
                          {{!-- <input style="width: 20px; height: 20px;" class="form-check-input mt-4" name="isParrent"
                            value="{{categoryDetails.isParent:}}" type="checkbox" id="flexSwitchCheckDefault" /> --}}
                          {{!-- {{else}} --}}
                          <input style="width: 20px; height: 20px;" class="form-check-input mt-4" name="isParrent"
                            value="true" type="checkbox" id="flexSwitchCheckDefault" {{#if
                            categoryDetails.isParent}}checked {{/if}} />
                          {{!-- {{#if}} --}}
                          <label class="form-check-label text-danger mt-4 ml-5" for="flexSwitchCheckDefault"> IS
                            PARENT</label>
                        </div>
                      </div>
                      <div class="float-right mt-5 mr-4">
                        <input type="submit" class="btn btn-success" value="Submit" />
                      </div>
                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="content-backdrop fade"></div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
<div id="parentCategories" pp="{{parentCategories}}"></div>
<script src="https://unpkg.com/axios@0.25.0/dist/axios.min.js"></script>
<script type="text/javascript">

  let comboTree2, categoryTreeList, categoryPath;

  jQuery(document).ready(async function ($) {
    try {
      var originalName = document.getElementById("descriptionValue").value;
      document.getElementById("exampleFormControlTextarea1").innerHTML = originalName;
      let parentCategoryss = false;
      const response = await axios.get('/admin/parentCategories')
      categoryTreeList = response.data.parentCategories;
      console.log(categoryTreeList);
      comboTree2 = $('#justAnotherInputBox').comboTree({
        source: response.data.parentCategories,
        isMultiple: false
      });
    }
    catch (e) {
      console.log("sfkjshdf", e)
    }
  });


  function getPath() {
    let id = document.querySelector('input[name=parent]').value;
    parentCategoriesPath = []
    if (id > 0) {
      pathTo(categoryTreeList, id);
      document.getElementById("categoryParentPath").value = parentCategoriesPath.reverse();
    }
    // document.getElementById("parentCategory").value = id;
    //if (parentCategoriesPath.length === 1) parentCategoriesPath = [];
    console.log("arr", parentCategoriesPath.reverse());
  }

  let parentCategoriesPath = [];
  let count = 0;


  const pathTo = (array, target) => {
    var result;
    array.some(({ Id, children = [] }) => {
      if (Id == target) {
        count++;
        if (count === 1) parentCategoriesPath.push(Id);
        return (result = Id);
      }
      var temp = pathTo(children, target);
      if (temp) {
        parentCategoriesPath.push(Id);
        return (result = Id + "." + temp);
      }
    });
    return result;
  };

  let timerInterval

</script>